[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  side-by-side = true
[user]
  name = {{ USER_FULLNAME }}
  email = {{ USER_EMAIL }}
  editor = nvim
[merge]
  tool = vimdiff
  guitool = vimdiff
  conflictstyle = diff3
[mergetool "vimdiff"]
  trustExitCode = false
  prompt = false
[diff]
  guitool = vimdiff
[difftool "vimdiff"]
  trustExitCode = false